*{
  font-family: Arial, Helvetica, sans-serif;
}
html{
  overflow-x: hidden;
}
body{
  
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
}
.container{
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
h1{
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  margin: 24px 0;
}
h2{
  font-size: 32px;
  font-weight: bold;
  margin: 30vh 0;
}
.start-position_left{
  transform: translateX(-100vw);
}
.start-position_right{
  text-align: right;
  transform: translateX(100vw);
}
.start-position_bottom{
  transform: translateY(50vh);
}
.animation{
  transition-property: transform, opacity;
  transition-duration: 0s, 0.5s;
  transition-delay: 0.5s, 0s;
  transition-timing-function: cubic-bezier( 0, 0.52, 0, 0.99 );
  opacity: 0;
  /* white-space: pre-line; */
  position: relative;
  
}
.animation-element_show{
  transform: translateX(0px);
  transform: translateY(0);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 1s, 1.4s;
  transition-delay: 0s, 0s;
  transition-timing-function: cubic-bezier( 0, 0.52, 0, 0.99 );
  background-color: rgba(255, 255, 255, 0.466);
}
.container div{
  width: 30vw;
  height: 30vh;
  background-color: brown;
  border-radius: 5vw;
  box-shadow: 0 0 20px brown;
}
